# -*- mode: gitignore; -*-
# vi: set ft=gitignore:

/_build/
/bazel-*
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/CMakeRuleHashes.txt
CMakeFiles/feature_tests.bin
CMakeFiles/feature_tests.cxx
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.10.2/CMakeSystem.cmake
CMakeFiles/3.10.2/CompilerIdCXX/a.out
CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/Continuous.dir/build.make
CMakeFiles/Continuous.dir/cmake_clean.cmake
CMakeFiles/Continuous.dir/DependInfo.cmake
CMakeFiles/Continuous.dir/progress.make
CMakeFiles/ContinuousBuild.dir/build.make
CMakeFiles/ContinuousBuild.dir/cmake_clean.cmake
CMakeFiles/ContinuousBuild.dir/DependInfo.cmake
CMakeFiles/ContinuousBuild.dir/progress.make
CMakeFiles/ContinuousConfigure.dir/build.make
CMakeFiles/ContinuousConfigure.dir/cmake_clean.cmake
CMakeFiles/ContinuousConfigure.dir/DependInfo.cmake
CMakeFiles/ContinuousConfigure.dir/progress.make
CMakeFiles/ContinuousCoverage.dir/build.make
CMakeFiles/ContinuousCoverage.dir/cmake_clean.cmake
CMakeFiles/ContinuousCoverage.dir/DependInfo.cmake
CMakeFiles/ContinuousCoverage.dir/progress.make
CMakeFiles/ContinuousMemCheck.dir/build.make
CMakeFiles/ContinuousMemCheck.dir/cmake_clean.cmake
CMakeFiles/ContinuousMemCheck.dir/DependInfo.cmake
CMakeFiles/ContinuousMemCheck.dir/progress.make
CMakeFiles/ContinuousStart.dir/build.make
CMakeFiles/ContinuousStart.dir/cmake_clean.cmake
CMakeFiles/ContinuousStart.dir/DependInfo.cmake
CMakeFiles/ContinuousStart.dir/progress.make
CMakeFiles/ContinuousSubmit.dir/build.make
CMakeFiles/ContinuousSubmit.dir/cmake_clean.cmake
CMakeFiles/ContinuousSubmit.dir/DependInfo.cmake
CMakeFiles/ContinuousSubmit.dir/progress.make
CMakeFiles/ContinuousTest.dir/build.make
CMakeFiles/ContinuousTest.dir/cmake_clean.cmake
CMakeFiles/ContinuousTest.dir/DependInfo.cmake
CMakeFiles/ContinuousTest.dir/progress.make
CMakeFiles/ContinuousUpdate.dir/build.make
CMakeFiles/ContinuousUpdate.dir/cmake_clean.cmake
CMakeFiles/ContinuousUpdate.dir/DependInfo.cmake
CMakeFiles/ContinuousUpdate.dir/progress.make
CMakeFiles/Experimental.dir/build.make
CMakeFiles/Experimental.dir/cmake_clean.cmake
CMakeFiles/Experimental.dir/DependInfo.cmake
CMakeFiles/Experimental.dir/progress.make
CMakeFiles/ExperimentalBuild.dir/build.make
CMakeFiles/ExperimentalBuild.dir/cmake_clean.cmake
CMakeFiles/ExperimentalBuild.dir/DependInfo.cmake
CMakeFiles/ExperimentalBuild.dir/progress.make
CMakeFiles/ExperimentalConfigure.dir/build.make
CMakeFiles/ExperimentalConfigure.dir/cmake_clean.cmake
CMakeFiles/ExperimentalConfigure.dir/DependInfo.cmake
CMakeFiles/ExperimentalConfigure.dir/progress.make
CMakeFiles/ExperimentalCoverage.dir/build.make
CMakeFiles/ExperimentalCoverage.dir/cmake_clean.cmake
CMakeFiles/ExperimentalCoverage.dir/DependInfo.cmake
CMakeFiles/ExperimentalCoverage.dir/progress.make
CMakeFiles/ExperimentalMemCheck.dir/build.make
CMakeFiles/ExperimentalMemCheck.dir/cmake_clean.cmake
CMakeFiles/ExperimentalMemCheck.dir/DependInfo.cmake
CMakeFiles/ExperimentalMemCheck.dir/progress.make
CMakeFiles/ExperimentalStart.dir/build.make
CMakeFiles/ExperimentalStart.dir/cmake_clean.cmake
CMakeFiles/ExperimentalStart.dir/DependInfo.cmake
CMakeFiles/ExperimentalStart.dir/progress.make
CMakeFiles/ExperimentalSubmit.dir/build.make
CMakeFiles/ExperimentalSubmit.dir/cmake_clean.cmake
CMakeFiles/ExperimentalSubmit.dir/DependInfo.cmake
CMakeFiles/ExperimentalSubmit.dir/progress.make
CMakeFiles/ExperimentalTest.dir/build.make
CMakeFiles/ExperimentalTest.dir/cmake_clean.cmake
CMakeFiles/ExperimentalTest.dir/DependInfo.cmake
CMakeFiles/ExperimentalTest.dir/progress.make
CMakeFiles/ExperimentalUpdate.dir/build.make
CMakeFiles/ExperimentalUpdate.dir/cmake_clean.cmake
CMakeFiles/ExperimentalUpdate.dir/DependInfo.cmake
CMakeFiles/ExperimentalUpdate.dir/progress.make
CMakeFiles/Nightly.dir/build.make
CMakeFiles/Nightly.dir/cmake_clean.cmake
CMakeFiles/Nightly.dir/DependInfo.cmake
CMakeFiles/Nightly.dir/progress.make
CMakeFiles/NightlyBuild.dir/build.make
CMakeFiles/NightlyBuild.dir/cmake_clean.cmake
CMakeFiles/NightlyBuild.dir/DependInfo.cmake
CMakeFiles/NightlyBuild.dir/progress.make
CMakeFiles/NightlyConfigure.dir/build.make
CMakeFiles/NightlyConfigure.dir/cmake_clean.cmake
CMakeFiles/NightlyConfigure.dir/DependInfo.cmake
CMakeFiles/NightlyConfigure.dir/progress.make
CMakeFiles/NightlyCoverage.dir/build.make
CMakeFiles/NightlyCoverage.dir/cmake_clean.cmake
CMakeFiles/NightlyCoverage.dir/DependInfo.cmake
CMakeFiles/NightlyCoverage.dir/progress.make
CMakeFiles/NightlyMemCheck.dir/build.make
CMakeFiles/NightlyMemCheck.dir/cmake_clean.cmake
CMakeFiles/NightlyMemCheck.dir/DependInfo.cmake
CMakeFiles/NightlyMemCheck.dir/progress.make
CMakeFiles/NightlyMemoryCheck.dir/build.make
CMakeFiles/NightlyMemoryCheck.dir/cmake_clean.cmake
CMakeFiles/NightlyMemoryCheck.dir/DependInfo.cmake
CMakeFiles/NightlyMemoryCheck.dir/progress.make
CMakeFiles/NightlyStart.dir/build.make
CMakeFiles/NightlyStart.dir/cmake_clean.cmake
CMakeFiles/NightlyStart.dir/DependInfo.cmake
CMakeFiles/NightlyStart.dir/progress.make
CMakeFiles/NightlySubmit.dir/build.make
CMakeFiles/NightlySubmit.dir/cmake_clean.cmake
CMakeFiles/NightlySubmit.dir/DependInfo.cmake
CMakeFiles/NightlySubmit.dir/progress.make
CMakeFiles/NightlyTest.dir/build.make
CMakeFiles/NightlyTest.dir/cmake_clean.cmake
CMakeFiles/NightlyTest.dir/DependInfo.cmake
CMakeFiles/NightlyTest.dir/progress.make
CMakeFiles/NightlyUpdate.dir/build.make
CMakeFiles/NightlyUpdate.dir/cmake_clean.cmake
CMakeFiles/NightlyUpdate.dir/DependInfo.cmake
CMakeFiles/NightlyUpdate.dir/progress.make
.gitignore
doc/cmake_install.cmake
doc/CTestTestfile.cmake
doc/Makefile
doc/CMakeFiles/CMakeDirectoryInformation.cmake
doc/CMakeFiles/progress.marks
examples/cmake_install.cmake
examples/CTestTestfile.cmake
examples/Makefile
examples/CMakeFiles/CMakeDirectoryInformation.cmake
examples/CMakeFiles/progress.marks
examples/CMakeFiles/Circle.dir/build.make
examples/CMakeFiles/Circle.dir/cmake_clean.cmake
examples/CMakeFiles/Circle.dir/depend.make
examples/CMakeFiles/Circle.dir/DependInfo.cmake
examples/CMakeFiles/Circle.dir/flags.make
examples/CMakeFiles/Circle.dir/link.txt
examples/CMakeFiles/Circle.dir/progress.make
src/cmake_install.cmake
src/CTestTestfile.cmake
src/Export.h
src/Makefile
src/CMakeFiles/CMakeDirectoryInformation.cmake
src/CMakeFiles/progress.marks
src/CMakeFiles/Export/lib/cmake/HRVO/HRVOTargets-release.cmake
src/CMakeFiles/Export/lib/cmake/HRVO/HRVOTargets.cmake
src/CMakeFiles/HRVO.dir/build.make
src/CMakeFiles/HRVO.dir/cmake_clean.cmake
src/CMakeFiles/HRVO.dir/depend.make
src/CMakeFiles/HRVO.dir/DependInfo.cmake
src/CMakeFiles/HRVO.dir/flags.make
src/CMakeFiles/HRVO.dir/link.txt
src/CMakeFiles/HRVO.dir/progress.make
cmake_install.cmake
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
DartConfiguration.tcl
HRVO.pc
HRVOConfig.cmake
HRVOConfigVersion.cmake
HRVOTargets.cmake
Makefile
.gitignore
